#body_index	{
		background-color: Orange;
		color: blue;
		font-size: 14pt;
		font-family: Sans-serif; 
		
		
		
}

#resume {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.image {background-color: white; 
	border: 5px solid black;
	width: 400px;
	height: 400px;
	padding: 20px;
	padding-bottom: 100px;
	margin-right: auto;
	margin-left: auto;
	text-align: center
}

